In [1]:
import pandas as pd
df = pd.read_table("data/data.txt",sep="\t")
print(df.shape)
df.head(20)

(222, 28)

,Time,Time Code,Country Name,Country Code,Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS],Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS],Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD],"Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]",Children out of school (% of primary school age) [SE.PRM.UNER.ZS],CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC],...,"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]",Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS],Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS],Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS],Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS],Rural population (% of total population) [SP.RUR.TOTL.ZS],"Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]","Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]",Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS],"Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]"
0,2013,YR2013,Afghanistan,AFG,NaN,2.971228,NaN,NaN,NaN,0.310341,...,0.2894,46.386671,45.050246,25.0,27.7,75.627,NaN,NaN,NaN,1.725000
1,2013,YR2013,Albania,ALB,26.068785,0.682812,NaN,70.580770,4.58103,1.749211,...,1.2706,19.856257,26.977777,5.8,17.9,44.613,29.8,NaN,NaN,15.866000
2,2013,YR2013,Algeria,DZA,0.042983,2.641161,NaN,NaN,NaN,3.525557,...,NaN,27.916853,9.522690,4.5,31.6,30.424,15.3,NaN,NaN,9.820000
3,2013,YR2013,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.652,NaN,NaN,NaN,NaN
4,2013,YR2013,Andorra,AND,NaN,NaN,NaN,NaN,NaN,5.901775,...,NaN,NaN,NaN,NaN,50.0,11.463,34.1,NaN,NaN,NaN
5,2013,YR2013,Angola,AGO,2.546607,1.093439,NaN,NaN,NaN,1.253776,...,NaN,47.205425,39.673034,31.2,34.1,37.998,NaN,NaN,NaN,7.454000
6,2013,YR2013,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,5.729938,...,NaN,23.259321,NaN,NaN,10.5,74.650,NaN,NaN,NaN,NaN
7,2013,YR2013,Argentina,ARG,5.671430,0.556378,NaN,NaN,0.40809,4.498540,...,3.9066,25.509966,37.741062,3.5,NaN,8.751,24.4,NaN,NaN,7.100000
8,2013,YR2013,Armenia,ARM,25.729741,3.471891,NaN,NaN,3.41190,1.897040,...,2.9072,19.665080,58.203887,4.4,10.7,36.836,26.5,NaN,NaN,16.179001
9,2013,YR2013,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,8.353561,...,NaN,19.593055,NaN,NaN,NaN,57.010,NaN,NaN,NaN,NaN
10,2013,YR2013,Australia,AUS,2.138831,0.465552,54000000.0,38.039272,0.06038,16.095833,...,3.3882,18.920548,22.181295,2.5,26.0,14.498,16.2,NaN,NaN,5.663000
11,2013,YR2013,Austria,AUT,12.298661,0.512029,29000000.0,NaN,1.02622,7.368748,...,4.9316,14.254185,36.867921,2.5,33.3,42.664,32.4,NaN,NaN,5.335000
12,2013,YR2013,Azerbaijan,AZE,0.660788,1.742538,NaN,NaN,1.72343,3.785069,...,3.4558,22.627375,42.263412,2.5,16.0,45.855,21.8,NaN,NaN,4.970000
13,2013,YR2013,"Bahamas, The",BHS,NaN,0.632050,NaN,44.123480,22.83106,7.630262,...,NaN,25.194665,NaN,NaN,13.2,17.404,11.2,NaN,NaN,16.180000
14,2013,YR2013,Bahrain,BHR,0.000000,2.603066,NaN,NaN,5.58603,23.811272,...,0.9533,20.512111,32.015586,NaN,10.0,11.165,25.6,NaN,NaN,1.216000
15,2013,YR2013,Bangladesh,BGD,0.218257,0.367192,NaN,NaN,NaN,0.456321,...,0.4089,30.343744,32.746122,16.6,19.7,67.238,24.0,NaN,NaN,4.426000
16,2013,YR2013,Barbados,BRB,NaN,0.392720,NaN,122.171180,NaN,5.094919,...,NaN,18.910572,NaN,4.3,16.7,68.571,7.9,NaN,NaN,11.550000
17,2013,YR2013,Belarus,BLR,0.066230,3.094455,268000000.0,23.837296,1.72647,6.736652,...,3.9331,15.614104,26.432224,2.5,26.6,23.801,28.2,NaN,NaN,5.935000
18,2013,YR2013,Belgium,BEL,21.425503,0.756458,55000000.0,NaN,1.20746,8.689543,...,2.9592,16.954406,18.067526,2.5,38.0,2.211,29.6,NaN,NaN,8.425000
19,2013,YR2013,Belize,BLZ,NaN,0.671862,NaN,77.354352,0.92849,1.484980,...,NaN,33.510551,NaN,7.1,3.1,54.718,NaN,NaN,NaN,11.700000

In [2]:
columnsNamesArr = df.columns.values
# convert ndarray to list
listOfColumnNames = list(columnsNamesArr)
listOfColumnNames

['Time',
 'Time Code',
 'Country Name',
 'Country Code',
 'Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS]',
 'Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS]',
 'Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD]',
 'Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]',
 'Children out of school (% of primary school age) [SE.PRM.UNER.ZS]',
 'CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]',
 'GDP per capita (current US$) [NY.GDP.PCAP.CD]',
 'GINI index (World Bank estimate) [SI.POV.GINI]',
 'Income share held by highest 10% [SI.DST.10TH.10]',
 'International migrant stock (% of population) [SM.POP.TOTL.ZS]',
 'International tourism, number of arrivals [ST.INT.ARVL]',
 'Land area (sq. km) [AG.LND.TOTL.K2]',
 'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]',
 'Net migration [SM.POP.NETM]',
 'Physicians (per 1,000 people) [SH.MED.PHYS.ZS]',
 'Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS]',
 'Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]',
 'Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS]',
 'Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS]',
 'Rural population (% of total population) [SP.RUR.TOTL.ZS]',
 'Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]',
 'Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]',
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS]',
 'Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]']

In [3]:
df.isna().sum()

Time                                                                                                          3
Time Code                                                                                                     5
Country Name                                                                                                  5
Country Code                                                                                                  5
Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS]                                   81
Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS]                                          56
Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD]                                                181
Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]                                               169
Children out of school (% of primary school age) [SE.PRM.UNER.ZS]                                            97
CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]                                                      17
GDP per capita (current US$) [NY.GDP.PCAP.CD]                                                                16
GINI index (World Bank estimate) [SI.POV.GINI]                                                              146
Income share held by highest 10% [SI.DST.10TH.10]                                                           146
International migrant stock (% of population) [SM.POP.TOTL.ZS]                                              221
International tourism, number of arrivals [ST.INT.ARVL]                                                      28
Land area (sq. km) [AG.LND.TOTL.K2]                                                                           7
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                                     22
Net migration [SM.POP.NETM]                                                                                 222
Physicians (per 1,000 people) [SH.MED.PHYS.ZS]                                                              113
Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS]                                             29
Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]                                   70
Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS]                                            57
Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS]                               35
Rural population (% of total population) [SP.RUR.TOTL.ZS]                                                     8
Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]                                                           76
Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]                                            222
Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS]    209
Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]                         35
dtype: int64

In [4]:
df.isna().sum()

Time                                                                                                          3
Time Code                                                                                                     5
Country Name                                                                                                  5
Country Code                                                                                                  5
Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS]                                   81
Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS]                                          56
Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD]                                                181
Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]                                               169
Children out of school (% of primary school age) [SE.PRM.UNER.ZS]                                            97
CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]                                                      17
GDP per capita (current US$) [NY.GDP.PCAP.CD]                                                                16
GINI index (World Bank estimate) [SI.POV.GINI]                                                              146
Income share held by highest 10% [SI.DST.10TH.10]                                                           146
International migrant stock (% of population) [SM.POP.TOTL.ZS]                                              221
International tourism, number of arrivals [ST.INT.ARVL]                                                      28
Land area (sq. km) [AG.LND.TOTL.K2]                                                                           7
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                                     22
Net migration [SM.POP.NETM]                                                                                 222
Physicians (per 1,000 people) [SH.MED.PHYS.ZS]                                                              113
Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS]                                             29
Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]                                   70
Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS]                                            57
Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS]                               35
Rural population (% of total population) [SP.RUR.TOTL.ZS]                                                     8
Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]                                                           76
Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]                                            222
Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS]    209
Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]                         35
dtype: int64

In [5]:
df2=df.drop(["Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS]"],axis=1)
df2.head()

,Time,Time Code,Country Name,Country Code,Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS],Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS],Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD],"Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]",Children out of school (% of primary school age) [SE.PRM.UNER.ZS],CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC],...,Net migration [SM.POP.NETM],"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]",Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS],Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS],Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS],Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS],Rural population (% of total population) [SP.RUR.TOTL.ZS],"Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]","Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]","Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]"
0,2013,YR2013,Afghanistan,AFG,NaN,2.971228,NaN,NaN,NaN,0.310341,...,NaN,0.2894,46.386671,45.050246,25.0,27.7,75.627,NaN,NaN,1.725
1,2013,YR2013,Albania,ALB,26.068785,0.682812,NaN,70.58077,4.58103,1.749211,...,NaN,1.2706,19.856257,26.977777,5.8,17.9,44.613,29.8,NaN,15.866
2,2013,YR2013,Algeria,DZA,0.042983,2.641161,NaN,NaN,NaN,3.525557,...,NaN,NaN,27.916853,9.522690,4.5,31.6,30.424,15.3,NaN,9.820
3,2013,YR2013,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.652,NaN,NaN,NaN
4,2013,YR2013,Andorra,AND,NaN,NaN,NaN,NaN,NaN,5.901775,...,NaN,NaN,NaN,NaN,NaN,50.0,11.463,34.1,NaN,NaN

In [6]:
df.head()

,Time,Time Code,Country Name,Country Code,Alternative and nuclear energy (% of total energy use) [EG.USE.COMM.CL.ZS],Armed forces personnel (% of total labor force) [MS.MIL.TOTL.TF.ZS],Arms exports (SIPRI trend indicator values) [MS.MIL.XPRT.KD],"Central government debt, total (% of GDP) [GC.DOD.TOTL.GD.ZS]",Children out of school (% of primary school age) [SE.PRM.UNER.ZS],CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC],...,"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]",Population ages 0-14 (% of total population) [SP.POP.0014.TO.ZS],Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS],Prevalence of undernourishment (% of population) [SN.ITK.DEFC.ZS],Proportion of seats held by women in national parliaments (%) [SG.GEN.PARL.ZS],Rural population (% of total population) [SP.RUR.TOTL.ZS],"Smoking prevalence, total (ages 15+) [SH.PRV.SMOK]","Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]",Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant) [SP.MTR.1519.ZS],"Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]"
0,2013,YR2013,Afghanistan,AFG,NaN,2.971228,NaN,NaN,NaN,0.310341,...,0.2894,46.386671,45.050246,25.0,27.7,75.627,NaN,NaN,NaN,1.725
1,2013,YR2013,Albania,ALB,26.068785,0.682812,NaN,70.58077,4.58103,1.749211,...,1.2706,19.856257,26.977777,5.8,17.9,44.613,29.8,NaN,NaN,15.866
2,2013,YR2013,Algeria,DZA,0.042983,2.641161,NaN,NaN,NaN,3.525557,...,NaN,27.916853,9.522690,4.5,31.6,30.424,15.3,NaN,NaN,9.820
3,2013,YR2013,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.652,NaN,NaN,NaN,NaN
4,2013,YR2013,Andorra,AND,NaN,NaN,NaN,NaN,NaN,5.901775,...,NaN,NaN,NaN,NaN,50.0,11.463,34.1,NaN,NaN,NaN